name: PR

on:
  pull_request:
    branches: ["**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Create virtual environment
        run: uv venv

      - name: Install dependencies
        run: |
          uv pip install -r requirements.txt -r requirements-dev.txt

      - name: Run all tests
        run: make tests
